<div class="bg-secondary">
  <div class="d-flex flex-row justify-content-between">
    <h4> <%= "#{@post.title} by #{@post.user.name}" %></h4>
    <p><%= "Comments: #{@post.comments.size}, Likes: #{@post.likes.size}" %></p>
  </div>
  <p>
    <%= @post.text %>
  </p>
</div>

<%= form_with model: @like, url: user_post_likes_path(params[:user_id], @post.id) do |form| %>
  <%= form.submit "ðŸ‘ Like", class: "btn btn-primary", data: {disable_with: "ðŸ‘"} %>
<% end %>

<p> <%= link_to "Add comment", new_user_post_comment_path(@user.id, @post.id) %> </p>

<%= render partial: "shared/comments", locals: {comments: @post.comments.includes(:user)} %>